header
    .header__wrapper
        min-height: 125px
        display: flex
        justify-content: space-between
        z-index: 2
        position: relative
        align-items: center
        padding-top: 24px
    .header_text_item
        font-size: 15px
        line-height: 16px
        color: $white
    .header__telefon_wrapper
        display: flex
        flex-direction: column
        justify-content: space-around
    .header_telefon_text
        font-size: 14px
        line-height: 24px
        color: $white
    .header_telefon
        font-size: 19px
        line-height: 24px
        font-weight: 700
        color: $white
    .header_img
        width: 96px
        height: 100px